* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box; }
body { 
	font-size: 1em;
	color: #000;
	font-family: helvetica; }

nav {
	width: 100%;
	padding-top: 10px;
	color: #000;
	font-size: 1.3em;
  	font-family: 'cookie';  }
nav ul {
  	display: inline-block;
	float: right;
	margin-right: 40px; }
nav ul li { 
	margin: 10px;
	display: inline-block; }
nav ul li a, nav ul li a:visited {
	text-decoration: none;
    color: #fff; }
nav ul li a:hover {
	color: #4de; }
nav .companylogo { 
	display: inline;
	float: left;
	margin: 5px 10px 10px 15px;
	color: #fff; }

header {
	background-image: url('images/mountain.jpg');
  	background-size: 100%;
  	height: 500px; 
  	background-repeat: no-repeat; }

.information  {
	display: inline-block;
	margin: 25px 0;
	width: 100%;
	text-align: center; }
.information .fa {
	color: #e42; }

.description {
	width: 70%;
	margin: 0 15%;
	color: #fff;
	text-align: center; }

.section {
	width: 100%; }
.section h1 {
	text-align: center;
	font-family: 'Cookie';
	font-size: 4em;
	color: #fff;
	padding: 20px 0; }

.whatwedo {  
	width: 100%;
	padding: 0 0 10px;
	background-color: #e42;   }
.whatwedo h1 { 
	padding: 100px 0;
	color: #000; }

.container {
	position: relative;
	width: 100%; }
.row {
	position: absolute;
	width: 80%;
	margin: 0 10%;
	top: -15px ; }

.feature  {
	width: 25%;
	float: left;
	text-align: center;  }
.feature .fa {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 35px;
	font-size: 1em;
	border: 4px solid #fff;
	border-radius: 50%;
	background-color: #e42; }
.feature h2 {
	color: #e42;
	font-size: 1.5em;
	margin: 25px 0;
	text-align: center;
	font-family: 'Cookie'; }
.feature p {
	text-align: center;
	font-size: 0.7em;
	margin: 10px 20px;  }


.blog {
	background-color: #fff; 
	padding: 300px 0 150px; }
.blogdescription {
	width: 60%;
	padding: 50px 0;
	margin: 0 20%; }
.blogbutton {
	text-align: center;
	outline: none; }
.blogbutton button {
	text-align: center;
	width: 150px;
	color: #fff;
	font-size: 1em;
	background-color: #333; 
	padding: 10px 10px;
	border-radius: 5px;
	border: 2px solid #333;
	cursor: pointer; }
.blogbutton button:hover {
	background-color: #fff;
	border: 2px solid #444;
	color: #444;
	transition: color 0.5s, background-color 0.5s;  }

.staff {
	background-color: #444;
	background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
	width: 100%;  }
.staff h1 { 
	padding: 50px 0;
	color: #fff; }
.member {
	width: 50%;
	height: auto;
	color: #ccc;background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
	background-color: #444;
	float: left;
	text-align: center;
	padding: 25px 0; }

.member img {
	width: 50%;
	margin: 0 25%;
	height: auto;
	text-align: center;
	border-radius: 50%; }

.member h2 {
	text-align: center;
	display: block;
	width: 100%;
	font-size: 2em;
	font-family: 'Cookie';
	margin: 10px 0; } 
.member p {
	text-align: center;
	margin: 0px 10%;
	width: 80%; }
.member:hover {
	background-color: #555;
	color: #fff;
	transition: background-color 0.5s; }

.member .socialMedia {
	width: 100%;
	padding: 0px; }


.member:hover {
	background-color: #555;
	color: #fff;
	transition: background-color 0.5s; }

.member .socialmedia i {
	text-align: center;
	padding: 20px 15px;
	color: #4de; 	}
.member .socialmedia i:hover {
	color: #fff;
	text-shadow: 2px 2px 0px #777;
	transition: color 0.5s; }

footer { 
	clear: both;
	text-align: center;
	color: #777;
	width: 100%;
	font-size: 0.8em; }
.footermenus {
	width: 60%;
	margin: 0 20%;
	padding: 20px 0;
	float: left;
	display: block; }
.footermenuone, .footermenutwo, .footermenuthree {
	width: 100%;
	float: left;
	padding: 10px 0; }
.footermenuone li, .footermenutwo li, .footermenuthree li {
	list-style:  none; 
	padding: 3px 0; }
.footermenuone a, .footermenutwo a, .footermenuthree a {
	text-decoration: none;
	color: #888; }
.footermenuone a:hover, .footermenutwo a:hover, .footermenuthree a:hover {
	text-decoration: underline;
	color: #e42; }

.footermenus h4 {
	text-transform: uppercase;
	padding: 5px 0;
	color: #777; }

footer .socialmediabar { 
  display: block;
  background-color: #ccc; }
footer .socialmediabar ul li {
  display: inline-block;
  padding: 50px 15px;  }
footer .socialmediabar ul li a, footer ul li a:visited {
  color: #888;
  text-decoration: none; 
  text-transform: uppercase;  }
footer .socialmediabar ul li a:hover {
  color: #4de;  }

.footercopyright {
	display: block;
	height: 50px;
	line-height: 50px;
	width: 100%;  }
.footercopyright a, .footercopyright a:hover, .footercopyright a:visited {
	text-decoration: none;
	color: #e42; }

/****** TABLET VIEW ******/

@media (min-width:461px)  {
.footermenus {
	width: 60%;
	margin: 0 20%; }
.footermenuone, .footermenutwo, .footermenuthree {
	width: 33%;
	float: left;
	padding: 50px 0; }
.member {
	width: 25%; }
  }


/****** DESKTOP VIEW ******/

@media (min-width:961px)  {

.information  { 
	margin: 100px 0; }

.information h1 { }
.information p {
	width: 50%;
	margin: 0 25%; }
.footerMenus {
	width: 60%;
	margin: 0 20%; }
.footerMenuOne, .footerMenuTwo, .footerMenuThree {
	width: 33%;
	float: left;
	padding: 50px 0; }
.member .socialMedia { 
	padding: 20px; }


.row {
	position: absolute;
	width: 80%;
	margin: 0 10%;
	top: -35px ; }
.feature  {
	width: 25%;
	float: left;
	text-align: center;  }
.feature .fa {
	color: #fff;
	width: 100px;
	height: 100px;
	line-height: 80px;
	font-size: 2em;
	border: 8px solid #fff;
	border-radius: 50%;
	background-color: #e42; }
.feature h2 {
	color: #e42;
	font-size: 2.5em;
	text-align: center;
	font-family: 'Cookie';
	margin: 0; }
.feature p {
	text-align: center;
	font-size: 1em;
	margin: 10px 20px;  }

}



